/* http://2012.scriptfrenzy.org/howtoformatascreenplay */

@media print {
	body {
		margin: 0;
	    font-size: 12pt;
	}
	header {
		page-break-after: always;
		margin-top: 50%;
		text-align: center;
    	white-space: pre;
	}
	address {
		position: absolute;
		bottom: 0;
    	white-space: pre;
    	&.text-left {
			left: 0;
    	}
    	&.text-right {
    		right: 0;
    	}
	}
	p {
		margin: 0 0 12pt;
	}
	.character, .scene {
		text-transform: uppercase;
	}
	.dialogue, .parenthetical {
		margin-top: -12pt;
	}
	.character {
		margin-left: 2.2in;
	}
	.dialogue {
		margin-left: 1in;
		margin-right: 1.5in;
	}
	.parenthetical {
		margin-left: 1.6in;
		margin-right: 1.9in;
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
}

@page { 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
    margin: 1in 1in 1in 1.5in;  
	@top-right {
	    content: counter(page);
	}
}