/** GLOBAL **/

* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

body, html {
	width: 100%;
	height: 100%;

}

body {
	margin-top: 100px;
	font-size: 14px;
	font-family: Courier;
}

/** BOOTSTRAP **/

.navbar {
	text-align: center;
}

.navbar-nav {
	margin: 0;
}

.navbar-center {
	float: none !important;
	display: inline-block;
}

.popover {
	&.bottom {
		top: 100%;
		margin-left: 50%;
		-webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0); // IE9 only
        transform: translate(-50%, 0);
    }
}

.help {
	.comment {
		display: inline-block !important;
	}
}

.uppercase {
	text-transform: uppercase;
}

.dropdown-menu {
	overflow: auto;
}

.popover {
	textarea {
		min-height: 4em;
	}
}


/** SCRIPT **/

.script {
	list-style: none;
	padding-left: 0;
	padding-bottom: 100px;
	> li {
		margin: 20px 0 20px -20px;
		padding: 0 0 0 20px;
		display: block;
		position: relative;

		&:hover .comment-add {
			display: block;
		}
	}

	.comment-add {
		position: absolute;
		left: 0;
		display: none;
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		margin: -7px -10px;
		padding: 10px;
		&:hover {
			color: blue;
		}
	}
	.commented .comment-add {
		display: block;
		color: #dd0;
	}

	.comment-box {
		position: absolute;
		right: 0;
		background: yellow;
		z-index: 3;
		min-width: 100px;
		max-width: 300px;
		min-height: 40px;
		padding: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,.5);
		&:before {
			content: '';
			display: block;
			float: right;
			height: 0;
			width: 0;
			border-style: solid;
			border-width: 0 20px 20px 0;
			border-color: transparent rgb(255, 255, 150) transparent transparent;
		}
	}


	/** LINES **/

	.line-text {
		font-size: 14px;
		font-family: Courier;
		background: white;
		&:hover {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}
		&:focus {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			z-index: 5;
		}

	}

	.scene {
		text-transform: uppercase;
		.line-text {
			text-transform: uppercase;
			background: rgba(0, 0, 0, 0.1);
		}
	}

	.character {
		text-transform: uppercase;
		margin-bottom: 0;
		.line-text {
			text-align: center;
			text-transform: uppercase;
			background: #EDF6FF;
		}
	}

	.transition {
		.line-text {
			text-align: right;
			text-transform: uppercase;
			width: auto;
			&:after {
				content: ':';
			}
		}
	}

	.parenthetical {
		margin: 0 30%;
		.line-text {
			text-align: center;
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}
	}

	.dialogue {
		margin: 0 80px 20px;
	}
}

@media(max-width:767px) {
	.script {
		> li {
			margin: 20px 0 20px -15px;
			padding: 0 0 0 15px;
		}
		.parenthetical {
			margin: 0 13%;
		}
		.dialogue {
			margin: 0 10%;
		}
	}
}